services:
  build:
    image: moby/buildkit:rootless
    security_opt:
      - seccomp=unconfined
      - apparmor=unconfined
    environment:
      - BUILDKITD_FLAGS=--oci-worker-no-process-sandbox
      - BUILDCTL_PROGRESS=${BUILDCTL_PROGRESS:-}
      - BUILDCTL_NO_CACHE=${BUILDCTL_NO_CACHE:-}
    volumes:
      - ./${TARGET}:/workspace
      - ./.github/scripts:/scripts:ro
    working_dir: /workspace
    entrypoint: /bin/sh
    command: /scripts/build.sh
