name: static-builds

services:
  build:
    container_name: static-builds-build
    image: moby/buildkit:rootless
    security_opt:
      - seccomp=unconfined
      - apparmor=unconfined
    environment:
      - BUILDKITD_FLAGS=--oci-worker-no-process-sandbox
      - BUILD_OUTPUT_DEST=${BUILD_OUTPUT_DEST:-.}
    volumes:
      - ./:/workspace
    working_dir: /workspace/${TARGET}
    entrypoint: /bin/sh
    command:
      - -ec
      - |-
        mkdir -p "./.cache"
        exec buildctl-daemonless.sh build \
            --frontend=dockerfile.v0 \
            --opt=platform=linux/amd64 \
            --local=context=. \
            --local=dockerfile=. \
            $$(
                while IFS='=' read -r key value || [ -n "$$key" ]; do
                    case "$$key" in
                        ''|\#*) continue ;;
                    esac
                    printf '%s\n' "--opt=build-arg:$${key}=$${value}"
                done < .env
            ) \
            --output=type=local,dest=$${BUILD_OUTPUT_DEST} \
            --import-cache type=local,src=./.cache \
            --export-cache type=local,dest=./.cache,mode=max
