.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.idea/

*.swp
*.swo
*~
Session.vim
.netrwhist
tags

.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db
Desktop.ini

bin/
out/
tmp/
*.tmp
*.bak
*.log

.cache
*/.cache
*/src

.omc/*
.omx/*
.sisyphus/*
