[submodule "third-party/nginx/nginx"]
	path = third-party/nginx/nginx
	url = https://github.com/nginx/nginx.git
[submodule "third-party/haproxy/haproxy"]
	path = third-party/haproxy/haproxy
	url = https://github.com/haproxy/haproxy.git
[submodule "third-party/apache/httpd"]
	path = third-party/apache/httpd
	url = https://github.com/apache/httpd.git
[submodule "third-party/coredns/coredns"]
	path = third-party/coredns/coredns
	url = https://github.com/coredns/coredns.git
[submodule "third-party/dnsmasq/dnsmasq"]
	path = third-party/dnsmasq/dnsmasq
	url = https://thekelleys.org.uk/git/dnsmasq.git
[submodule "third-party/vector/vector"]
	path = third-party/vector/vector
	url = https://github.com/vectordotdev/vector.git
[submodule "third-party/apache/apr"]
	path = third-party/apache/apr
	url = https://github.com/apache/apr.git
[submodule "third-party/apache/apr-util"]
	path = third-party/apache/apr-util
	url = https://github.com/apache/apr-util.git
[submodule "third-party/nginx/nginx-vts-module"]
	path = third-party/nginx/nginx-vts-module
	url = https://github.com/vozlt/nginx-module-vts.git
[submodule "third-party/nginx/lua-resty-upstream-healthcheck"]
	path = third-party/nginx/lua-resty-upstream-healthcheck
	url = https://github.com/openresty/lua-resty-upstream-healthcheck.git
[submodule "third-party/nginx/lua-nginx-module"]
	path = third-party/nginx/lua-nginx-module
	url = https://github.com/openresty/lua-nginx-module.git
[submodule "third-party/nginx/lua-resty-core"]
	path = third-party/nginx/lua-resty-core
	url = https://github.com/openresty/lua-resty-core.git
[submodule "third-party/monit/monit"]
	path = third-party/monit/monit
	url = https://bitbucket.org/tildeslash/monit.git
